*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#wrapper{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
}

#app-container{
     width: 400px;
     /* height: 720px; */
     background: #fff;
     box-shadow: 0 0 12px rgba(0,0,0,.67);
     display: flex;
     align-items: center;
     flex-direction: column;
     transition: all .5s ease-in-out;
}

#to-do-header{
     width: 100%;
     text-align: center;
     padding: 5px;
     color: #fff;
     background: #0da2ff;
}

#to-do-list{
     padding: 20px;
     width: 100%;
}

.no-task{
     font-size: 30px;
     font-weight: 500;
     color: #bbb;
}

.task{
     cursor: pointer;
     width: 100%;
     display: flex;
     flex-direction: column;
     margin: 20px 0;
     height: 35px;
     overflow: hidden;
     position: relative;
     box-shadow: 0 0 2px;
     padding: 5px 20px;
     transition: all .5s ease-in-out;
}

.task.expand{
     height: 100px;
     box-shadow: none;
     transition: height .5s ease;
}

.task-title{
     display: flex;
     width: 100%;
     margin-bottom: 20px;
}

.task-title.done{
     text-decoration: line-through;
}

.task-name{
     font-size: 20px;
}

.task-description{
     font-style: italic;
     font-size: 25px;
}

.task-marker{
     width: 20px;
     margin-right: 10px;
}

#new-task{
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 20px;
     position: relative;
}

#new-task-name{
     width: 100%;
     height: 50px;
     font-size: 18px;
     padding-left: 10px;
     outline: 0;
     border-radius: 5px;
     border: 1px solid rgba(0,0,0,.27);
}

#new-task-description{
     width: 100%;
     border-radius: 5px;
     border: 1px solid rgba(0,0,0,.27);
     height: 100px;
     padding: 10px;
     outline: 0;
     font-size: 18px;
     margin-top: 10px;
}

#add-new-task{
     border-radius: 3px;
     width: 100px;
     height: 35px;
     font-size: 18px;
     box-shadow: 0 0 2px rgba(0,0,0,.67);
     border: 1px solid #0da2ff;
     background: #0da2ff;
     color: #fff;
     font-weight: 600;
     margin-top: 20px;
     cursor: pointer;
     outline: 0;
}